<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Bounty Campaign</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  
<div class="container">
  <div class=" text-center">
    <h3>Bounty Campaign</h3> 
    <center>
      <img src="./logo.jpg" width="200" style="display: block" alt="">
    </center>
    <!-- Button trigger modal -->
    <button  class="btn btn-primary btn-xs" id="begin">Begin</button>
    <a href="" target="_blank" class="btn btn-primary btn-xs Contract_activity_btn" >Contract activity</a>
    <button  class="btn btn-primary btn-xs flushEthers">flushEthers</button>
    

    <br>
    <b>Enviadas: </b><span id="enviadas">0</span>
    <b>Recibidas: </b><span id="recibidas">0</span>
    <b>Vacias: </b><span id="vacias">0</span>
  </div>
  <div id="responses" style="max-height: 300px;overflow-y: scroll;" class="col-md-12 well"><code>Responses <br></code></div>
</div>

  <script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
  <script   src="https://code.jquery.com/jquery-3.2.1.min.js"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="javascripts/bignumber.min.js"></script>
  <script src="javascripts/functions.js"></script>
  <script src="javascripts/app.js"></script>
</body>
</html>